<div class="container">

	<div class="row">

		<div class="col-sm-8 col-sm-offset-2">
			{loop:content}
			{set:_first}
				{set:page:1}
				<h1>These are Heritage Events</h1>
				<p>This is the year ahead and beyond events that Heritage App has been told about. If you would like timely reminders, <a href="http://hrt.gs/uc">download</a> Heritage App today and receive notifications direct on your phone.</p>
				{/set}
			{/set}
			{/loop}
			{loop:pages}
				{info}
			{/loop}
			{loop:content}
				<div class="col-sm-12">

					<h2><small>{dates}</small><br>{title}</h2>
					<p>{descr}</p>
					<p>Visit <a href="http://hrt.gs/{hrtgs}" target="_blank">{name}<span class="ss-upright"></span></a> today</p>

					<hr>
				</div>
			{/loop}
		</div>

	</div>
	{loop:pages}
	<div class="row">
		<div class="col-sm-12 text-center">
			<ul class="pagination">
				{prev}{numbers}{next}
			</ul>
		</div>
	</div>
	{/loop}

	<div class="row">
		<div class="col-sm-12 text-center">
			<ul class="pagination">
				{loop:months}
				<li><a href="{link}">{month}</a></li>
				{/loop}
			</ul>
		</div>
	</div>


</div>
